version: "3"

services:
  firefox:
    container_name: firefox
    image: selenium/standalone-firefox-debug:3.14.0-curium
    ports:
      - "4444:4444"
      - "5900:5900"
    environment:
      - VNC_NO_PASSWORD=1

  wabot:
    container_name: wabot
    image: bulkinegra/wabot
    environment:
      - SELENIUM=http://firefox:4444/wd/hub
      - PATH_G_AUTHORIZATION=/usr/app/g_authorization.json
    links:
      - firefox
    entrypoint: [python, remote.py]
